.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 260px;
    height: 360px;
}

.sudoku-square {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sudoku-cell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}