.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.container:focus {
    outline: none; /* Remove the default focus outline */
}

.sudoku-board-wrapper {
    order: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 540px;
    width: 540px;
    box-shadow: 0 0 0 2px #00b8ff;
    box-sizing: border-box;
}

.sudoku-board:focus {
    outline: none;
}

.sudoku-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 60px;
    width: 540px;

}

.sudoku-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 40px;
    box-sizing: border-box;
    margin: 0; /* Ensures no margin between cells */
    padding: 0;
    cursor: pointer;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
    grid-template-rows: repeat(3, 1fr); /* Creates 3 rows */
    width: 100%; /* Ensures the grid fills the parent cell */
    height: 100%;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Adjust font size as needed */
    color: white;
}

* {
    box-sizing: border-box;
}


.cell-text {
    color: white;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.tools-list {
    color: white;
    border: 3px solid #00b8ff;
    order: 1;
    width: 240px;
}

.tool-icons {
    color: white !important; /* Change to your desired color */
}

.tool-icon-divider {
    background-color: #00b8ff;
    height: 3px;
}

.pop-up-modals {
    background-color: black;
    color: #00b8ff;
}