.sudoku-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 360px;
    width: 360px;
    margin-left: 200px;
    margin-top: 100px;
    box-sizing: border-box;
}

.sudoku-board:focus {
    outline: none;
}

.sudoku-square {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 120px;
    width: 120px;
    box-shadow: 0 0 0 1.5px black;
    box-sizing: border-box;

}

.sudoku-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 30px;
    box-sizing: border-box;
    border: 1px solid lightgray; /* Light border for each cell */
    margin: 0; /* Ensures no margin between cells */
    padding: 0;
    cursor: pointer;
}